    <h1 id="page_title">Posts</h1>

    <div id="post_show_content" class="skinny_wrapper wrapper_padding">
      <% @posts.each do |post| %>
        <header class="post">
          <p class="date"><%= post.created_at.strftime('%A, %B %d')%></p>
          <h2><%= link_to post.title, post %></h2>
          <hr>
        </header>

        <div class="content">
          <!--<%=  markdown (truncate(post.content, 
                            length: 600, 
                            separator: ' ',
                            omission: '... ') {
                            link_to "weiterlesen", post 
                        }) %>-->

          <%= markdown(truncate(post.content, 
                      length: 600,
                      separator: ' ', 
                      omission: '... ') {
                      "[weiterlesen](#{post_path(post)})"
          }) %>
        </div>

      <% end %>
    </div>

    <%= will_paginate @posts %>

