  <header id="main_navigation" class="clearfix">
    <%= link_to "noan", root_path, class: "name" %>
    <nav class="menu"> 
      <%= link_to "Posts", posts_path %>
      <%= link_to "Projekte", projects_path %>
      <%= link_to "Kontakt", new_contact_path %>
      <% if user_signed_in? %>
        <%= link_to "Neuer Post", new_post_path %>
        <%= link_to "Neues Projekt", new_project_path %>
        <%= link_to "Ausloggen", destroy_user_session_path, method: :delete %>
      <% end %>
    </nav>
  </header>