<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Noan Blog - Schni, Schna, Schabernack</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <header id="main_navigation" class="clearfix">
    <%= link_to "noan", root_path, class: "name" %>
    <nav> 
      <%= link_to "Posts", posts_path %>
      <%= link_to "Projekte", projects_path %>
      <%= link_to "Kontakt", new_contact_path %>
    </nav>
  </header>

  <% if notice %>
    <p class="notice"><%= notice %></p>
  <% elsif alert %>
    <p class="alert"><%= alert %></p>
  <% end %>

  <%= yield %>
  
  <footer id="main_footer">
    <p class="copyright">&copy; 2015 Nogo Versitaet</p>
    <nav>
      <a href="#"><i class="fa fa-twitter"></i></a>
  	  <a href="#"><i class="fa fa-dribbble"></i></a>
   	  <a href="#"><i class="fa fa-github"></i></a>
    </nav>
  </footer>
</body>
</html>
